<a href="https://colab.research.google.com/github/Rakesh-Panigrahi/Python/blob/main/Practice_exercise_for_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Print First 10 natural numbers using while loop
# natural_numbers = int(input("Enter the number: "))
i=1
while i <= 10:
  print(i,end=' ')
  i=i+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
# Print the following pattern
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5

i=1
while i<=5:
  j=1
  while j<=i:
    print(j,end=' ')
    j+=1
  i+=1
  print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
# Accept number from user and calculate the sum of all number from 1 to a given number
user_input = int(input('Enter a number: '))
i=1
sum=0
while i<=user_input:
  sum+=i
  i+=1
  
print(f"The sum is {sum}")

Enter a number: 10
The sum is 55

In [ ]:
# Print multiplication table of a given number using while loop
user_number = int(input("Enter a number: "))
i=1
while i<=10:
  print(f"{user_number}x{i}={user_number*i}")
  i+=1

Enter a number: 10
10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100

In [ ]:
# Print multiplication table of a given number using for loop
user_input=int(input('Enter a number: '))
for z in range(1,11):
    print(f"Multiplication of {user_input}x{z}={user_input*z}")

Enter a number: 10
Multiplication of 10x1=10
Multiplication of 10x2=20
Multiplication of 10x3=30
Multiplication of 10x4=40
Multiplication of 10x5=50
Multiplication of 10x6=60
Multiplication of 10x7=70
Multiplication of 10x8=80
Multiplication of 10x9=90
Multiplication of 10x10=100

In [ ]:
# Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.
input_list = []
n=int(input('Enter no. of elements: '))
for z in range(0,n):
  elem_list = int(input())
  if (elem_list%5==0) and (elem_list<=150):
    input_list.append(elem_list)
  elif (elem_list>150):
    break
print(f"{input_list}")

Enter no. of elements: 10
10
10
50
80
200
[10, 10, 50, 80]

In [ ]:
# Print the following pattern using loop
# 5 4 3 2 1 
# 4 3 2 1 
# 3 2 1 
# 2 1 
# 1
 
i=5
while i>=1:
  j=i
  while j>=1:
    print(j,end=' ')
    j=j-1
  print('\n')
  i=i-1

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [ ]:
# Reverse the following list using for loop
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [ ]:
# Display numbers from -10 to -1 using for loop
x = list(range(-10,0))
print(x)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [ ]:
# Display a message “Done” after successful execution of for loop
for i in range(1):
  print('Done')

Done

In [ ]:
# Write a program to display all prime numbers within a range
# range_input = int(input())
for i in range(2,10):
  count=0
  for j in range(2,i+1):
    if i%j==0:
      count+=1
      if count>1:
        print(i)

4
6
6
8
8
9

In [ ]:
i=2
while i<15:
  count=0
  j=2
  while j<=i:
    if i%j==0:
      count=count+1
    j=j+1
      
  i=i+1
  if count>1:
    print(j)

5
7
9
10
11
13
15

In [ ]:
# Display Fibonacci series up to 10 terms
# Fibonacci sequence:
# 0  1  1  2  3  5  8  13  21  34
number = 10
no1 = 0
no2 = 1
i=0
print(no1)
print(no2)
while i<=7:
  j=no1+no2
  no1=no2
  no2=j
  i+=1
  print(j)

0
1
1
2
3
5
8
13
21
34

In [ ]:
# Write a loop to find the factorial of any number
number = 5
i=number
fact=1
while i>=1:
  fact = i*fact
  i=i-1
print(fact)

120

In [ ]:
# Use a loop to display elements from a given list that are present at even index positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
new_list = []
i=0
while i<=(len(my_list))-1:
  if i%2==0:
    new_list.append(my_list[i])
    
  i+=1
print(new_list)

[10, 30, 50, 70, 90]

In [ ]:
# Display the cube of the number up to a given integer
integr = 4
i=1
while i<=integr:
  int_cube = i**3
  print(int_cube)
  i+=1

1
8
27
64

In [ ]:
# Find the sum of the series 2 +22 + 222 + 2222 + .. n terms
n = 5
i=1
num = 0
total_value = 0
while i<=n:
  num1=(num*10)+2
  num=num1
  print(num1,end=' ')
  total_value=total_value+num1
  i+=1

print(total_value)

2 22 222 2222 22222 24690

In [ ]:
# Print the following pattern
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *

n=5
i=1
while i<=n:
  j=1
  while j<=i:
    print('*',end=' ')
    j=j+1
  print('\n')
  i=i+1

n=5
i=n
while i>=1:
  j=1
  while j<i:
    print('*',end=' ')
    j=j+1
  print('\n')
  i=i-1

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [ ]:
# Print the following pattern using for loop
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5

i=1
while i<=5:
  j=1
  while j<=i:
    print(j,end=' ')
    j=j+1
  print('\n')
  i=i+1

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5